/* Variables */

/**
 * Colores
 */
@import "~materialize-css/sass/components/color";

$primary-color: color("indigo", "darken-1");
$secondary-color: color("pink", "darken-1");
$success-color: color("teal", "darken-1");
$error-color: color("red", "darken-1");
$link-color: color("light-blue", "darken-1");

/**
 * Fonts
 */
$roboto-font-path: "~materialize-css/dist/fonts/roboto/";
