/* You can add global styles to this file, and also import other style files */

/**
 * Variables
 */
@import "variables";

/**
 * Materialize
 */
@import "~materialize-css/sass/materialize";

/**
 * Navbar
 */
.logo {
  width: auto;
  height: 48px;
  vertical-align: middle;
}

/**
 * Weather
 */
.waiting {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.font-weight-bold {
  font-weight: 500;
}

.info-text {
  font-style: normal;
  font-size: 1.4rem;
  font-weight: 300;
}

.info-text--min-max {
  font-style: normal;
  font-size: 0.8rem;
  font-weight: 400;
}

.margin-bottom-0 {
  margin-bottom: 0px;
}
